form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

#enviar {
    background-color: blue;
    width: 30%;
}

#enviar:hover {
    background-color: chartreuse;
    width: 20%;
}

#border {
    border-style: groove;
}

#border:focus {
    border-radius: 15px;
    outline: 0;
}